.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container>img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 91px;
    transform: translate(-50%, -50%);
    transition: width .36s ease-out;
    animation: pulse .8s ease-in-out 8 alternate 1.4s forwards;
}

img.start {
    width: 140px;
}

img.close {
    width: 0px;
    height: 91px;
}

@keyframes pulse {
    from {
        opacity: 1;
    }

    to {
        opacity: .1;
    }
}