.container {
    display: none;
    position: fixed;
    right: 24px;
    top: 26%;
    z-index: 1;
    background-color: var(--paper-bkg-color);
    font-size: 15px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    opacity: 0;
    transition:
        opacity 1s ease-out,
        top 1s ease-out;
}

.container svg {
    width: 25px;
}

.container p {
    padding-top: 3px;
}

.container svg:first-child {
    color: green;
}

.container svg:last-child {
    cursor: pointer;
}

.displayFlex {
    display: flex;
}

.visible {
    top: 30%;
    opacity: .95;
}

@media (max-width: 460px) {
    .container {
        top: 6%;
        font-size: 13px;
        padding: 10px;
    }

    .container svg {
        width: 21px;
    }

    .visible {
        top: 10%;
    }
}