nav {
    position: fixed;
    top: -67px;
    background-color: #3A3632;
    width: 100%;
    z-index: 1;
    transition: top .3s ease-out;
}

nav .oracle {
    margin: 0 auto;
    width: fit-content;
    display: block;
    width: 210px;
    pointer-events: none;
}

.decoration {
    position: fixed;
    top: 65px;
    right: 0;
    width: 100%;
    min-width: 800px;
    height: 80px;
    opacity: 0;
    transition: opacity 1s linear;
    z-index: -1;
}

.decoration.show {
    opacity: .35;
}

.descend {
    top: 0px;
}

@media (max-width: 450px) {
    .decoration {
        height: 69px;
    }
}